* {
    padding: 0;
    margin: 0;
}
#about {
    background-image: url(img/about-bg-1.jpg);
    height: 550px;
    background-position: 50% 0%;
    background-attachment: fixed;
}
.nav-link {
    color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-right: 40px;
}
.nav-link:hover {
    color: #9d9d9d;
}
.navbar-nav {
    margin-left: 850px;
}
.title h1 {
    padding-left: 500px;
    padding-top: 200px;
    font-size: 70px;
    line-height: 1.3em;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    font-weight: bolder;
}
.sweet-tooth {    
    display: flex;
}
.applecandy {
    padding-top: 100px;
}
.applecandy h2 {
    color: #010101;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    line-height: 40px;
    font-weight: bolder;
}
.applecandy p {
    color: #5e5e5e;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    line-height: 32px;
    font-weight: 300;
}
.applecandy h5 {
    color: #010101;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
}
.numbers {    
    display: flex;
    padding-top: 100px;
}
.numbers span {
    color: #FFFFFF;
    font-size: 70px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    text-align: center;
    padding-right: 100px;
}
.numbers p {
    font-size: 18px;
    font-weight: bolder;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-right: 100px;
    padding-bottom: 60px;
}
.cloudy {
    background-image: url(img/about-bg-3.jpg);
}
.experts {
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
}
.more-info {
    padding-left: 30px;
}
.more-info .button {
    background-color: #ec0064;
    border: none;
    border-radius: 25px;
    color: #fff;
    margin: 0 0 26px;
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 900;
    line-height: 20px;
    height: 54px;
    width: 530px;
    text-align: left;
    padding-left: 20px;
    padding-bottom: 5px;
}
.more-info .button i::after {
    content: icon;
}
.lorem {
    padding-bottom: 20px;
}
.lorem p {
    color: #888888;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: 300;
}
.progress {
    background-image: url(img/aboutbg-4.jpg);
    height: 550px;
    background-position: 50% 0%;
    background-attachment: fixed;
}
.levels {
    display: flex;
    justify-content: space-evenly;
    padding-top: 150px;
}
.canvas-wrap span {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    line-height: 175px;
}
.text h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 27px;
    line-height: 30px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
}
.text p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
}
.slider {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 1150px;
    padding-left: 500px;
}
.carousel-item h1 {
    color: #2D2016;
    font-size: 50px;
    font-weight: 700;
}
.carousel-item p {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    line-height: 32px;
    font-weight: 300;
    color: #4e4d4d;
}
.carousel-item h5 {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    letter-spacing: -0.25px;
    font-weight: 700;
    color: #010101;
}
.skull-island {
    background-image: url(img/about-bg-5.jpg);
    background-size: cover;
}
.subscription {
    padding-top: 200px;
    padding-left: 600px;
}
.subscription p {
    padding-left: 20px;
}
.subscription form {
    padding-bottom: 200px;
}
.signup {    
    font-family: "Poppins", sans-serif;
    font-size: 35px;
    font-weight: 700;
}
.form-group {
    padding-left: 100px;
}
.form-control {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border: none;
    width: 50px; 
    height: 50px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
footer {
    display: flex;
    columns: 4;
    background-color: #3c1c7b;
}
.footer {
    padding-right: 250px;
}
.footer-img {
    padding-right: 250px;
}
.copyright {
    padding-left: 50px;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 300;
}
.soc {
    padding-left: 100px;
}